<div class="painel" [style.background-color]="estiloFundo()">

  <div class="campo">
    <label>Nome: </label>
    <input type="text" [(ngModel)]="nome" />
    <button (click)="inverterNome()" [disabled]="!nome">
      Inverter Nome
    </button>
  </div>

  <div class="campo">
    <label>Idade: </label>
    <input type="number" [(ngModel)]="idade" />
  </div>

  <div class="campo">
    <p>
      <strong>Cores</strong>
    </p>
    <p>
      <label> R </label>
      <input type="range" min="0" max="255" [(ngModel)]="r">
      {{r}}
    </p>

    <p>
      <label> G </label>
      <input type="range" min="0" max="255" [(ngModel)]="g">
      {{g}}
    </p>

    <p>
      <label> B </label>
      <input type="range" min="0" max="255" [(ngModel)]="b">
      {{b}}
    </p>
  </div>

  <h2> Olá {{nome}} ! </h2>
  <h3 *ngIf="idade >= 18">Já pode ser preso</h3>

</div>